

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: black;
}


/* Large Button */





/* Add styles for the website container */
.website-container {
  position: relative; /* Set the position to relative for proper z-index stacking */
}

h1 {
  margin-top: -600px;
  margin-right: -350px;
}

.content-container {
  
  position: absolute;
  display: flex;
  align-items: center; /* Center the items vertically in the flex container */
  bottom: 110px;
  right: 100px;
}

/* Add styles for the text container */


img {
    margin-bottom: -90px;
    position: absolute;
    right: 500px;
}






 
 @media screen and (min-width: 400px) and (max-width: 1920px)  {
  /* Add styles for smaller screens */
  .stupid-string-easter {
    
            font-size: 15px;
            position: absolute;
            bottom: 40px;
            left: 600px;
     }

     .largeButton {
      font-size: 48px; /* You can adjust the font size to make the button larger */
      
      /* Add any other styles you want to customize the appearance of the button */
      outline: none;
      font-family: 'Helvetica', sans-serif; /* Change the font family here */
      font-weight: bold;
      background-color: transparent; /* Set the background to transparent */
      border: none; /* Remove the button border */
      cursor: pointer; /* Show the pointer cursor on hover */
      color: #808080;
      position: absolute; /* Set the button's position to absolute */
      top: 0px; /* Adjust the top position to position the button vertically */
      right: 720px; /* Adjust the right position to position the button horizontally */
       /* Set the z-index to place the button above other elements */
      
    }

    .text-container {
      position: absolute;
      left: 915px; /* Add some space between the image and text */
      bottom: 845px;
      
    }

}

@media screen and (min-width: 400px) and (max-width: 1920px) {
  .content-container {
  
    
    position: absolute; /* Center the items vertically in the flex container */
    bottom: 110px;
    right: 120px;
  }
}